

.hovr{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    left: 0;
    width:100%;
    z-index:10000;
}
.hovr .he{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hovrdiv {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.triggr {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

body{
    background: linear-gradient(to bottom, #000000, #434343);
}
p{
    font-size: 30px;
    font-family: sans-serif;
}

.w3-animate-fading{animation:fading 300ms}@keyframes fading{from{opacity:0} to{opacity:1}}

.heading{
    color: aliceblue;
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 52%;
    top: 30%;
    margin-left: -150px;
    margin-top: -150px;
}
.heading1{
    color: aliceblue;
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 55%;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
}
  .bod{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
.loading {
    -webkit-animation: rotation 9s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

  @media screen and (max-width: 700px){
    .heading{
        left: 58%;
        top: 30%;
    }
    .heading1{
        left: 68%;
        top: 40%;
    }


  }
